@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  font-family: "Inter", sans-serif; /* Weights: 400,700,800 */
  --primary-color-soft-orange: hsl(35, 77%, 62%);
  --primary-color-soft-red: hsl(5, 85%, 63%);
  --neutral-color-off-white: hsl(36, 100%, 99%);
  --neutral-color-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-color-very-dark-blue: hsl(240, 100%, 5%);
}

.main-content-wrapper {
  width: 1350px;
  height: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 150px repeat(3, 290px);
  padding-left: 20%;
}
.navbar {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-options-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  color: var(--neutral-color-dark-grayish-blue);
}
.primary-article-image {
  max-width: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
}

.primary-header {
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: 55px;
  font-weight: 800;
  color: var(--neutral-color-very-dark-blue);
}
.primary-paragraph-button-box {
  padding-left: 10px;
}
.primary-paragraph {
  font-size: 15px;
  grid-column: 2/3;
  grid-row: 3/4;
  color: var(--neutral-color-dark-grayish-blue);
  margin-top: 50px;
  line-height: 25px;
}
.read-more-button {
  background-color: var(--primary-color-soft-red);
  height: 45px;
  width: 200px;
  border: none;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 2px;
  color: var(--neutral-color-very-dark-blue);
  margin-top: 30px;
  text-transform: uppercase;
}
.primary-paragraph-hidden {
  display: none;
  font-size: 15px;
  margin: 0px;
}
.new-articles-box {
  padding: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  grid-column: 3/4;
  grid-row: 2/4;
  background-color: var(--neutral-color-very-dark-blue);
}
.new-header {
  font-weight: 700;
  font-size: 50px;
  margin: 0px;
  color: var(--primary-color-soft-orange);
}
.new-article-header {
  color: var(--neutral-color-off-white);
}
.new-article-paragraph {
  font-size: 15px;
  color: var(--neutral-color-dark-grayish-blue);
}

.new-article-wrapper1,
.new-article-wrapper2 {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid var(--neutral-color-dark-grayish-blue);
}

/* .articles-row-box {
  grid-column: 1/4;
  grid-row: 4/5;
  display: flex;
  justify-content: space-between;
} */
.article1-row {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  /* wrapper for article num,header,paragraph + flex with column flow */
}

.article2-row {
  grid-column: 2/3;
  grid-row: 4/5;
  padding-left: 10px;
  display: flex;
}
.article3-row {
  grid-column: 3/4;
  grid-row: 4/5;
  padding-left: 20px;
  display: flex;
}
.article-row-img {
  width: 100px;
  height: 125px;
  padding-top: 5px;
}
.article-row-content-wrapper {
  padding-left: 10px;
  margin-right: 15px;
}
.article-row-number {
  color: var(--primary-color-soft-red);
  font-weight: 800;
  font-size: 30px;
  margin: 0px;
}

.article-row-header {
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-row-paragraph {
  font-size: 15px;
  color: var(--neutral-color-dark-grayish-blue);
}
.navbar-options-list li:hover {
  cursor: pointer;
  color: var(--primary-color-soft-orange);
}
.read-more-button:hover {
  cursor: pointer;
  color: var(--neutral-color-off-white);
  background-color: var(--neutral-color-very-dark-blue);
}
.new-article-header:hover {
  cursor: pointer;
  color: var(--primary-color-soft-orange);
}
.article-row-header:hover {
  cursor: pointer;
  color: var(--primary-color-soft-red);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
